
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="CoinPayments" asp-action="ProcessCheckout" method="get">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <br />
                <img id="pdfImage" src="~/images/pdf-file.png" style="border: 1px solid" />
                <b>Price: $0.12</b>
                <input type="submit" value="Add To Cart" class="btn-primary">
            </div>
        </div>
    </div>
</form>